/* Estilos de App.css */
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/fondo-home.png");
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.caja-bienvenida {
  font-weight: 100;
  font-style: oblique;
  margin-top: 15%;
  text-align: center;
  color: white;
}

.logo {
  border-radius: 5px;
  border-color: #171f28;
  border-style: groove;
  border-width: 2px;
  width: 160px;
  height: 40px;
}

.collapse.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5d6c89;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-control {
  margin-right: 10px;
}

.nav-link {
  font-family: "Arial", sans-serif;
  transition: color 0.5s ease-in-out;
}

.center-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.titulo {
  color: #d3cfd7;
}

.input-nacimiento {
  border-radius: 10px;
  opacity: 0.8;
  width: 185px;
  text-align: center;
}

.btn-save {
  border-radius: 10px;
  background-color: #83d900;
  color: #34495e;
  border-style: double;
  width: 100px;
  height: 40px;
}
.btn-save:hover {
  background-color: #5050ee;
  border-color: #ffffff;
  color: #ffffff;
}

.boton-responsive {
  background-color: #83d900;
  border-radius: 5px;
}

.btn-menu {
  color: #ffffff;
  background-color: #5d6c89;
  border-color: #5d6c89;
  border-style: dotted;
}
.btn-menu:hover {
  background-color: #5050ee;
}
.d-flex {
  margin-right: 10px;
}
.div-home {
  border-radius: 10px;
}

.btn-buscar {
  border-radius: 10px;
  background-color: #83d900;
  border-color: #83d900;
  border-style: double;
}

.btn-buscar:hover {
  background-color: #5050ee;
  border-color: #ffffff;
  color: #ffffff;
}
.form-control {
  margin-right: 0px;
}

.btn-home {
  background-color: #83d900;
  border-radius: 10px;
  border-color: #83d900;
}
.btn-home:hover {
  background-color: #5050ee;
  border-color: #ffffff;
  color: #ffffff;
}

.registro {
  text-align: center;
  margin-top: 40px;
}
.logo-registro {
  border-radius: 5px;
  border-color: white;
  border-width: 2px;
}
.campo-registro {
  color: #d3cfd7;
}
.input-registro {
  border-radius: 10px;
  opacity: 0.8;
  text-align: center;
}
.input-registro:hover {
  border-color: #83d900;
  border-style: double;
}

.ingreso {
  text-align: center;
  margin-top: 40px;
}

.logo-ingreso {
  text-align: center;
  margin-top: 20px;
  border-radius: 120px;
  border-color: white;
}

.text-link {
  color: #83d900;
}

progress {
  width: 100%;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 10px;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background-color: #d3cfd7;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #83d900;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: #83d900;
  border-radius: 10px;
}

.btn-curso-oferta {
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease;
}

.estudiante {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 1200px;
  margin: 20px auto;
}

.cursos-container {
  display: flex;
  gap: 20px; /* Separación entre los divs */
}

.cursos-disponibles,
.cursos-inscritos {
  flex: 1;
  background: rgba(33, 20, 150, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.caja-curso {
  margin-bottom: 30px;
}
.caja-curso h3 {
  color: white;
}

.curso {
  margin-top: 10px;
}
.curso h4 {
  color: #339ba4;
}

p {
  color: #d3cfd7;
  margin: 0;
}

.btn-curso-oferta {
  background-color: #83d900;
  color: #34495e;
  padding: 3px 25px;
  border-color: #171f28;
  border-style: double;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-curso-oferta:hover {
  background-color: #5050ee;
}

progress {
  width: 100%;
  height: 12px;
  appearance: none;
  border-radius: 10px;
  overflow: hidden;
  background: none;
}

progress::-webkit-progress-bar {
  background: white;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background: orange;
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    rgba(247, 166, 15, 0.986),
    rgb(247, 173, 36) 10px,
    hsla(72, 31%, 90%, 0.986) 10px,
    rgb(248, 247, 242) 20px
  );
}

progress::-moz-progress-bar {
  background: orange;
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 165, 0, 0.7),
    rgba(255, 165, 0, 0.7) 10px,
    rgba(255, 165, 0, 0.2) 10px,
    rgba(255, 165, 0, 0.2) 20px
  );
}

.btn-curso-ver {
  background-color: #e82931;
  color: #fef2f2;
  padding: 3px 25px;
  border-radius: 50px;
  border-color: #171f28;
  border-style: double;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
